In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
import math
import matplotlib as mpl
import matplotlib as mp
import numpy as no
#importing all the neccessary libraries

In [6]:
house_train = pd.read_csv('datasets/new_housing_data.csv')
house_train
# loading the new dataset

,Order,Lot Frontage,Lot Frontage.1,Garage Area,House Style,Fireplaces,Garage Type,Garage Cars,Yr Sold,SalePrice
0,1,141.0,141.0,528.0,1Story,2,Attchd,2.0,2010,215000
1,2,80.0,80.0,730.0,1Story,0,Attchd,1.0,2010,105000
2,3,81.0,81.0,312.0,1Story,0,Attchd,1.0,2010,172000
3,4,93.0,93.0,522.0,1Story,2,Attchd,2.0,2010,244000
4,5,74.0,74.0,482.0,2Story,1,Attchd,2.0,2010,189900
...,...,...,...,...,...,...,...,...,...,...
2925,2926,37.0,37.0,588.0,SLvl,0,Detchd,2.0,2006,142500
2926,2927,NaN,NaN,484.0,1Story,0,Attchd,2.0,2006,131000
2927,2928,62.0,62.0,0.0,SFoyer,0,NaN,0.0,2006,132000
2928,2929,77.0,77.0,418.0,1Story,1,Attchd,2.0,2006,170000
2929,2930,74.0,74.0,650.0,2Story,1,Attchd,3.0,2006,188000

In [7]:
house_train.head(5)
# now we have the sale price in the end and we can ma

,Order,Lot Frontage,Lot Frontage.1,Garage Area,House Style,Fireplaces,Garage Type,Garage Cars,Yr Sold,SalePrice
0,1,141.0,141.0,528.0,1Story,2,Attchd,2.0,2010,215000
1,2,80.0,80.0,730.0,1Story,0,Attchd,1.0,2010,105000
2,3,81.0,81.0,312.0,1Story,0,Attchd,1.0,2010,172000
3,4,93.0,93.0,522.0,1Story,2,Attchd,2.0,2010,244000
4,5,74.0,74.0,482.0,2Story,1,Attchd,2.0,2010,189900